<h1>View by Location</h1>

<a href="/locations/form">create a location</a>
{{#each locations}}
<li>
    <a href="/locations/show/{{this.id}}">{{this.id}} - {{this.name}}</a>
    <a href="/locations/edit?id={{this.id}}">edit</a>
</li>
{{/each}}