<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
</head>
<body>
  {{#if flash}}
    <div>
      <strong>{{flash.intro}}</strong> {{{flash.message}}}
    </div>
  {{/if}}
  <nav>
    <ul>
      <li><a href="/">NYC home</a></li>
      <li><a href="/chapters">Chapters</a></li>
      <li><a href="/locations">Locations</a></li>
      <li><a href="https://studentwork.prattsi.org/alisonlong/2024/05/09/mapping-nyc-locations-in-pai-hsien-yungs-short-story-collection-new-yorkers/">About the Creator</a></li>
    </ul>
  </nav>

  {{{body}}}
</body>
</html>
