<h1>Quote</h1>

<form action="/quotes/upsert" role="form" method="post">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <input type="hidden" name="id" value="{{quote.id}}"> 
  <div>
    <textarea rows="5" id="quote" name="quote">{{quote.quote}}</textarea>
    <textarea rows="5" id="quote" name="quote">{{quote.quote}}</textarea>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
